<configuration>
    <appender name="awslambda" class="org.jlib.cloud.aws.lambda.logback.AwsLambdaAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <thread>[ignore]</thread>
                <logger>[ignore]</logger>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="awslambda"/>
    </root>
</configuration>